<html>
  <head>
    <title>Auto-electric Blanket Settings</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/../bootstrap-switch/static/stylesheets/bootstrap-switch.css">
   <link href="/../slider/css/slider.css" rel="stylesheet">

  <body>
  
	<script>
		function OnOff_Clicked() 
		{
			//alert('On/off button clicked.');
			if(document.getElementById("onoffswitch").checked)
			{
				//alert('On.');
				//window.location.replace('/?state=on');
				
				 // When button is clicked send an AJAX request:
				$.post("/?state=on&power=" + document.getElementById("sl1").value.toString(),
				{
					name:"Donald Duck",
					city:"Duckburg"
				},
				function(data,status){
					//alert("Data sent successfully.");
				});
			}
			else
			{
				//alert('Off.');
				//window.location.replace('/?state=off');
				 // When button is clicked send an AJAX request:
				$.post("/?state=off&power=" + document.getElementById("sl1").value.toString(),
				{
					name:"Donald Duck",
					city:"Duckburg"
				},
				function(data,status){
					//alert("Data sent successfully.");
				});
			}
		}
		
	
	</script>
  
	<div style="margin:20px;">
		<h1>Auto-Electric Blanket Settings</h1>
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="//code.jquery.com/jquery.js"></script>

		<!-- Latest compiled and minified JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		
		<script src="/../bootstrap-switch/static/js/bootstrap-switch.min.js"></script>
		
		<script src="/../slider/js/bootstrap-slider.js"></script>
		
		<div style="margin:50px">
		
			On/Off:
			<div class="make-switch switch-large" style="height: 30px;">
				<input id="onoffswitch" type="checkbox" onchange="OnOff_Clicked();"/>
			</div>
			
			<div style="height: 20px;" />
			
			<div class="well" style="width: 250px; margin: 20px">
				Power:
				<input type="text" class="span2" value="3" id="sl1" data-slider-min="0" data-slider-max="3" data-slider-step="1" data-slider-value="0">
			</div>
		
		</div>
	</div>
	
	<script>
		$('#sl1').slider({
          formater: function(value) {
            return 'Current value: '+value;
          }
        });
		
		// Called when slider has stoppped moving
		$('#sl1').slider()
			.on('slideStop', function(ev){
				// When button is clicked send an AJAX request:
				$.post("/?&power=" + document.getElementById("sl1").value.toString(),
				{
					name:"Donald Duck",
					city:"Duckburg"
				},
				function(data,status){
					//alert("Data sent successfully.");
				});
			});
	</script>
	
  </body>
</html>